body{
    background-color: hsl(315, 66%, 78%);
}
.to-do-list{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 100px;    
}
h1{
    font-size: 4rem;
    color: white;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.add-button{
    background-color: hsla(0, 0%, 100%, 0.514);
}
.add-button:hover{
    background-color: hsla(0, 0%, 70%, 0.514);
}
.delete-button{
    background-color: hsl(10, 90%, 50%);
}
.delete-button:hover{
    background-color: hsl(10, 90%, 40%);
}
.move-button{
    background-color: hsla(0, 0%, 100%, 0.514);
}
.move-button:hover{
    background-color: hsla(0, 0%, 70%, 0.514);
}
input[type='text']{
    font-size: 1.6rem;
    padding: 10px;
    border: 2px solid hsla(0, 0%, 22%, 0.904);
    border-radius: 5px;
    color: hsla(0, 0%, 0%, 0.5);
}
ol{
    padding: 0;
}
li{
    font-size: 2rem;
    font-weight: bold;
    padding: 15px;
    background-color: hsl(0, 0%, 97%);
    margin-bottom: 10px;
    border: 3px solid hsla(0, 0%, 85%, 0.75);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.text{
    flex: 1;
}

.delete-button, .move-button .complete-button{
    padding: 8px 12px;
    font-size: 1.4rem;
    margin-left: 10px;
}
.complete-button{
    background-color: hsl(120, 100%, 25%);
}
.complete-button:hover{
    background-color: hsl(120, 100%, 15%);
}

/* For mobile devices */
@media (max-width: 480px) {
    .to-do-list {
        margin: 20px 5px; /* Further reduce margin */
    }

    h1 {
        font-size: 1.8rem; /* Further adjust font size */
    }

    button {
        font-size: 1.2rem; /* Further adjust button font size */
        padding: 6px 12px; /* Further adjust button padding */
    }

    input[type='text'] {
        font-size: 1.2rem; /* Further adjust font size */
        padding: 6px; /* Further adjust padding */
    }

    li {
        font-size: 1.4rem; /* Further adjust font size */
        padding: 8px; /* Further adjust padding */
    }

    .delete-button, .move-button {
        font-size: 1.2rem; /* Adjust button font size */
        padding: 6px 10px; /* Adjust button padding */
    }
}